%h1
  = t("patients.patients_title")
%h4
  = link_to t("other.add_a_new_patient"), new_patient_path
%table.table-bordered.table-striped.table-hover.patients-list.show-list
  = render partial: "patient_table_head"
  = render partial: "patient_table_body", locals: { patients: @patients }
